<div class="container">
  <h1>Grainger Re-order Buttons: {{user}}'s Dashboard</h1>

  <div class="col-md-3">
    {{#if approvals}}
      {{#each approvals}}
        {{#each this.approvals}}
        <p><a href="/approvals/{{this.title}}">{{this.title}}</a></p>
        <p>{{this.approvers}}</p>
        {{/each}}
      {{/each}}
    {{else}}
      <p>No approvals yet.</p>
    {{/if}}
  </div>

  <div class="col-md-9">

    <form action="approvals" method="POST">

      <div class="form-group">
        <label for="customer">Customer:</label>
        <p class="form-control" id="customer" name="customer">{{customer}}</p>
        <input id="customer" name="customer" type="hidden" value="{{customer}}" />
      </div>

      <div class="form-group">
        <label for="title">Title:</label>
        <input class="form-control" id="title" name="title" type="text" />
      </div>

      <div class="form-group">
        <label for="approvers">Approvers:</label>
        <input class="form-control" id="approver" name="approvers" type="text" />
      </div>

      <div class="form-group">
        <button class="form-control btn btn-info" id="create" type="submit">Create</button>
      </div>


    </form>

  </div>

</div>
