<div class="container">
  <h1>Grainger Re-order Buttons: {{user}}'s Dashboard</h1>

  <div class="col-md-9">

    <form action="editApproval" method="POST">

      <div class="form-group">
        <label for="customer">Customer:</label>
        <p class="form-control" id="customer" name="customer">{{customer}}</p>
        <input id="customer" name="customer" type="hidden" value="{{customer}}" />
        <input id="approvalID" name="approvalID" type="hidden" value="{{approval._id}}" />
      </div>

      <div class="form-group">
        <label for="title">Title:</label>
        <input class="form-control" id="title" name="title" type="text" placeholder="{{approval.title}}" value="{{approval.title}}"/>
      </div>

      <div class="form-group">
        <label for="approvers">Approvers:</label>
        <input class="form-control" id="approver" name="approvers" type="text" placeholder="{{approval.approvers}}" value="{{approval.approvers}}"/>
      </div>

      <div class="form-group">
        <button class="form-control btn btn-info" id="create" type="submit">Update</button>
      </div>

      <div class="form-group">
        <a href="removeApproval/{{button._id}}" class="btn btn-danger">Delete</a>
      </div>

    </form>

  </div>

</div>
