<div class="container">
  <h1>Grainger Re-order Buttons: {{user}}'s Dashboard</h1>

  <div class="col-md-3">
    {{#if buttons}}
      {{#each buttons}}
        <p><a href="/button/{{this._id}}">{{this.partNo}}</a></p>
      {{/each}}
    {{else}}
      <p>No buttons yet.</p>
    {{/if}}
  </div>

  <div class="col-md-9">

    <div class="container">
      <a href="/approvals" class="btn btn-info col-md-8">Manage Approvals</a>
    </div>

    <hr/>

    <form action="addButton" method="POST">

      <div class="form-group">
        <label for="customer">Customer:</label>
        <p class="form-control" id="customer" name="customer">{{customer}}</p>
        <input id="customer" name="customer" type="hidden" value="{{customer}}" />
      </div>

      <div class="form-group">
        <label for="deviceId">DeviceId:</label>
        <input class="form-control" id="deviceId" name="deviceId" type="text" />
      </div>

      <div class="form-group">
        <label for="partNo">Part No.:</label>
        <input class="form-control" id="partNo" name="partNo" type="text" />
      </div>

      <div class="form-group">
        <label for="imgPath">Image Path:</label>
        <input class="form-control" id="imgPath" name="imgPath" type="text" />
      </div>

      <div class="form-group">
        <label for="description">Description:</label>
        <input class="form-control" id="description" name="description" type="text" />
      </div>

      <div class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox" value="checked" id="requiresApprovals" name="requiresApprovals"/> Requires Approvals</label>
          </div>
      </div>

      <div class="form-group" id="wait">
        <label for="waitTime">Wait To Place Order For:</label>
        <select class="form-control" name="waitTime" id="waitTime">
            <option value="12">12 Hours</option>
            <option value="24">24 Hours</option>
            <option value="36">36 Hours</option>
            <option value="48">48 Hours</option>
            <option value="72">72 Hours</option>
            <option value="96">96 Hours</option>
        </select>
      </div>

      <div class="form-group" id="freeze">
        <label for="freezeTime">Freeze Button For:</label>
        <select class="form-control" name="freezeTime" id="freezeTime">
            <option value="12">12 Hours</option>
            <option value="24">24 Hours</option>
            <option value="36">36 Hours</option>
            <option value="48">48 Hours</option>
            <option value="72">72 Hours</option>
            <option value="96">96 Hours</option>
        </select>
      </div>

      <div class="form-group" id="approve" style="display:none">
        <label for="approvalList">Approval Flow:</label>
        <select class="form-control" name="approvalList" id="approvalList">
          {{#each approvals}}
            <option value="{{this.title}}">{{this.title}}</option>
          {{/each}}
        </select>
      </div>

      <div class="form-group">
        <button class="form-control btn btn-info" id="create" type="submit">Create</button>
      </div>


    </form>

  </div>

</div>

<script>

$('#requiresApprovals').click(function() {
  if( $(this).is(':checked')) {
      $("#approve").show();
      $("#wait").hide();
      $("#freeze").hide();
  } else {
      $("#approve").hide();
      $("#wait").show();
      $("#freeze").show();
  }
});

</script>
