<div class="container">
  <h1>Grainger Re-order Buttons: {{user}}'s Dashboard</h1>

  <div class="col-md-9">

    <form action="editButton" method="POST">

      <div class="form-group">
        <label for="customer">Customer:</label>
        <p class="form-control" id="customer" name="customer">{{customer}}</p>
        <input id="customer" name="customer" type="hidden" value="{{customer}}" />
      </div>

      <div class="form-group">
        <label for="deviceId">DeviceId:</label>
        <input class="form-control" id="deviceId" name="deviceId" type="text" placeholder="{{button.deviceId}}" value="{{button.deviceId}}"/>
      </div>

      <div class="form-group">
        <label for="partNo">Part No.:</label>
        <input class="form-control" id="partNo" name="partNo" type="text" placeholder="{{button.partNo}}" value="{{button.partNo}}"/>
      </div>

      <div class="form-group">
        <label for="description">Description:</label>
        <input class="form-control" id="description" name="description" type="text" />
      </div>

      <div class="form-group">
        <label for="imgPath">Image Path:</label>
        <input class="form-control" id="imgPath" name="imgPath" type="text" />
      </div>

      {{#if button.requiresApprovals}}
      <div class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox" value="checked" id="requiresApprovals" name="requiresApprovals" checked/> Requires Approvals</label>
          </div>
      </div>
      {{else}}
      <div class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox" value="checked" id="requiresApprovals" name="requiresApprovals"/> Requires Approvals</label>
          </div>
      </div>
      {{/if}}

      <div class="form-group" id="wait" {{#if button.requiresApprovals}} style="display: none" {{else}} {{/if}}>
        <label for="waitTime">Wait To Place Order For:</label>
        <select class="form-control" name="waitTime" id="waitTime">
            <option value="12">12 Hours</option>
            <option value="24">24 Hours</option>
            <option value="36">36 Hours</option>
            <option value="48">48 Hours</option>
            <option value="72">72 Hours</option>
            <option value="96">96 Hours</option>
        </select>
      </div>

      <div class="form-group" id="freeze" {{#if button.requiresApprovals}} style="display: none" {{else}} {{/if}}>
        <label for="freezeTime">Freeze Button For:</label>
        <select class="form-control" name="freezeTime" id="freezeTime">
            <option value="12">12 Hours</option>
            <option value="24">24 Hours</option>
            <option value="36">36 Hours</option>
            <option value="48">48 Hours</option>
            <option value="72">72 Hours</option>
            <option value="96">96 Hours</option>
        </select>
      </div>

      <div class="form-group" id="approve" {{#if button.requiresApprovals}} {{else}} style="display: none" {{/if}}>
        <label for="approvalList">Approval Flow:</label>
        <select class="form-control" name="approvalList" id="approvalList">
          {{#each approvals}}
            <option value="{{this.title}}">{{this.title}}</option>
          {{/each}}
        </select>
      </div>

      <div class="form-group">
        <button class="form-control btn btn-info" id="create" type="submit">Update</button>
      </div>

      <div class="form-group">
        <a href="removeButton/{{this._id}}" class="btn btn-danger">Remove</a>
      </div>


    </form>

  </div>

</div>

<script>

$('#requiresApprovals').click(function() {
  if( $(this).is(':checked')) {
      $("#approve").show();
      $("#wait").hide();
      $("#freeze").hide();
  } else {
      $("#approve").hide();
      $("#wait").show();
      $("#freeze").show();
  }
});

</script>
