<div class="container">
  <h1>Grainger Re-order Buttons: {{user}}'s Dashboard</h1>

  <div class="col-md-3">
    {{#if customers}}
      {{#each customers}}
        <p><a href="/customer/{{this.customer}}">{{this.customer}}</a></p>
      {{/each}}
    {{else}}
      <p>No customers yet.</p>
    {{/if}}
  </div>

  <div class="col-md-9">

    <form action="addCustomer" method="POST">

      <div class="form-group">
        <label for="customer">Customer:</label>
        <input class="form-control" id="customer" name="customer" type="text" />
      </div>

      <div class="form-group">
        <label for="customerNo">Customer No.:</label>
        <input class="form-control" id="customerNo" name="customerNo" type="text" />
      </div>

      <div class="form-group">
        <label for="customerContact">Customer Contact:</label>
        <input class="form-control" id="customerContact" name="customerContact" type="text" />
      </div>

      <div class="form-group">
        <button class="form-control btn btn-info" id="create" type="submit">Create</button>
      </div>

    </form>
<!-- 
    <form action="/removeCustomer" method="POST">

      <div class="form-group">
        <label for="customerID">Customers</label>
        <select class="form-control" name="customerID" id="customerID">
            {{#each customers}}
              <option value="{{this._id}}">{{this.customer}}</option>
            {{/each}}
        </select>
      </div>
      <div class="form-group">
        <button class="form-control btn btn-danger" id="remove" type="submit">Remove Customer</button>
      </div>
    </form> -->

  </div>

</div>
