<h1>Grainger Re-order Buttons Customers</h1>

<div class="container">

  <ul>

  {{#each buttons}}
  <!-- <br/> -->
    <p>{{this}}</p>
  <!-- <br/>
    <div class="clickCounter" id="{{this._id}}">
      <span class="badge badge-info">{{this.clicksSinceFrozen}}</span>
    </div>
  <br/>
  <hr/> -->
  {{/each}}

  </ul>

</div>


<script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
<script>
  var socket = io();

  socket.on('button pushed', function(bttnStats) {
    console.log(bttnStats, 'bttn stats client');
  });

  socket.on('counting', function (count) {

    $('.clickCounter').each(function(e) {
      var id = $('.clickCounter').attr('id');
      var number = Math.floor(Math.random()*10);
      if(id == '561fbefebaf197501c3518e2'){
        var html = "<span><strong>" + number + "</strong> ";

        var item = '#'+id;
        console.log(id, item);
        $(item).html(html);
      }
    });


  });

  socket.on('new number', function (count) {

    $('.clickCounter').each(function(e) {
      var id = $('.clickCounter').attr('id');
      var number = Math.floor(Math.random()*10);
      if(id == '561fbefebaf197501c3518e2'){
        var html = number;

        var item = '#'+id;
        console.log(id, item);
        $(item).html(html);
      }
    });


  });
</script>
