<h1>Grainger Re-order Buttons Customers</h1>

<div class="container">

  <ul>

  {{#each customers}}
    <a href="customers/{{this.customer}}">{{this.customer}}</a>
  {{/each}}

  </ul>

</div>


<script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
<script>
  var socket = io();
  socket.on('counting', function (count) {
    var html = "<span><strong>" + count + "</strong> ";
  	$('#count').append(html);
  });
</script>
