<body style="padding-top:0px; margin-top:0px;">
<h1 style="padding-top:0px; margin-top:0px; text-align: center;">Reorder Zone - Buttons</h1>

<div class="col-md-12">

    {{#each buttons}}

      <div class="col-xs-12 col-sm-6 col-md-3 part" style="padding: 35px 0px; margin-bottom: 20px;">

        <a href="/history/{{this.partNo}}" style="color: black;">
          <div style="height:150px; width:125px;">
            <h4 style="text-align: center;">{{this.partNo}}</h4>
            <span class="{{this.customer}}" id="{{this.deviceId}}"><img src="{{{this.imagePath}}}" style="max-height:125px; max-width:125px; display:block; margin-left: auto; margin-right: auto;"/></span>
          </div>
        </a>

        <div class="col-md-12">
          <h4>{{this.description}}</h4>
          <div class="clickCounter col-md-12" id="{{this._id}}">
          <p><span><span>Ordered </span><span data-livestamp="{{this.lastClicked}}"></span></span></p>
          <p><span><span>Total Orders: <strong>{{this.clicksTotal}}</strong></span></span></p>
          </div>
        </div>


      </div>


    {{/each}}

  </div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
<script>
  var socket = io.connect();
  socket.on('button pushed', function (bttnStats) {

    $('.clickCounter').each(function(index) {
      console.log(this.id);
      var id = $('.clickCounter').attr('id');
      console.log(this.id, bttnStats.bttnStats.id);
      if(this.id == bttnStats.bttnStats.id){

        var html = "<p><span><span>Ordered </span><span data-livestamp="+bttnStats.bttnStats.lastClicked+"></span></span></p><p><span><span>Total Orders: <strong>"+bttnStats.bttnStats.clicksTotal+"</strong></span></span></p>"
        var item = '#'+this.id;

        $(item).html(html);
      }
    });

  });
  </script>
