<h1>Grainger Re-order Buttons</h1>

<p>{{mesage}}</p>

  <form action="authenticate" method="POST">

    <div class="form-group">
      <label for="username">Username</label>
      <input class="form-control" id="username" name="username" type="text" />
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input class="form-control" id="passord" name="password" type="password" />
    </div>

    <div class="form-group">
      <button class="form-control btn btn-info" type="submit">Submit</button>
    </div>

    <div class="form-group">
      <a href="register">Register</a>
    </div>

    <div id="count"></div>

  </form>
