<body style="padding-top:0px; margin-top:0px;">
<h1 style="padding-top:0px; margin-top:0px; text-align: center;">Reorder Zone - Buttons</h1>

<div class="col-md-12">

  <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

</div>



<script>
$(function () {
    $('#container').highcharts({
        chart: {
            type: 'spline'
        },
        title: {
            text: '{{partNo}} Order History'
        },
        xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: { // don't display the dummy year
                month: '%e. %b',
                year: '%b'
            },
            title: {
                text: 'Date'
            }
        },
        yAxis: {
            title: {
                text: 'Orders'
            },
            min: 0
        },
        tooltip: {
            headerFormat: '<b>{series.name}</b><br>',
            pointFormat: '{point.x:%e. %b}: {point.y:.2f} m'
        },

        plotOptions: {
            spline: {
                marker: {
                    enabled: true
                }
            }
        },

        series: [{
            name: '{{partNo}}',
            // Define the data points. All series have a dummy year
            // of 1970/71 in order to be compared on the same x axis. Note
            // that in JavaScript, months start at 0 for January, 1 for February etc.
            data: [

                {{#each orders}}
                [Date.UTC({{this.year}}, {{this.month}}, {{this.day}}), {{this.count}}],
                {{/each}}
            ]
        }]
    });
});

</script>
