<h1>Grainger Re-order Buttons: Register</h1>
  <form action="register" method="POST">

    <div class="form-group">
      <label for="email">Email</label>
      <input class="form-control" id="email" name="email" type="text" />
    </div>

    <div class="form-group">
      <label for="username">Username</label>
      <input class="form-control" id="username" name="username" type="text" />
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input class="form-control" id="password" name="password" type="password" />
    </div>

    <div class="form-group">
      <label for="rpassword">Re-enter Password</label>
      <input class="form-control" id="rpassword" name="rpassword" type="password" />
    </div>

    <div class="form-group" id="validator">

    </div>

    <div class="form-group">
      <button class="form-control btn btn-info" id="register" type="submit">Submit</button>
    </div>

    <div class="form-group">
      <a href="landingPage">Login</a>
    </div>

  </form>

  <script>

  $('#rpassword').keyup(function() {
          if ($('#rpassword').val() === $('#password').val()) {
            $('#register').show();
            $('#validator').html('');
          }
          else {
              $('#validator').html('Passwords Do Not Match');
              $('#validator').css('color', 'red');
              $('#register').hide();
          }
  });

  </script>
